<div class="container" style="margin-top: 100px;">
    <div class="modalbox" style="padding-left: 250px; padding-right: 250px;">
        <!-- BEGIN: Input -->
        <div class="intro-y box" ng-controller="AdduserController">
            <div
                class="flex flex-col sm:flex-row items-center p-5 border-b border-slate-200/60 dark:border-darkmode-400">
                <h2 class="font-medium text-base mr-auto">
                    Add User
                </h2>
            </div>
            <div id="input" class="p-5">
                <form id="" class="" method="POST" ng-submit="onAdduser">
                    <div class="preview">
                        <div>
                            <!-- <label for="regular-form-1" class="form-label">First Name</label> -->
                            <input type="text" id="floatingText"
                                class="intro-x login__input form-control py-3 px-4 block" placeholder="First Name"
                                ng-model="form.firstname">
                        </div>
                        <div class="mt-3">
                            <!-- <label for="regular-form-2" class="form-label">Last Name</label> -->
                            <input type="text" id="floatingText"
                                class="intro-x login__input form-control py-3 px-4 block mt-4" placeholder="Last Name"
                                ng-model="form.lastname">
                        </div>
                        <div class="mt-3">
                            <p>Choose Gender:</p>
                              <input type="radio" id="male" name="fav_language" value="male" ng-model="form.gender">
                              <label for="male">Male</label><br>
                              <input type="radio" id="female" name="fav_language" value="female" ng-model="form.gender">
                              <label for="female">Female</label><br>
                              <input type="radio" id="other" name="fav_language" value="other" ng-model="form.gender">
                              <label for="other">other</label><br>
                        </div>
                        <div class="mt-3">
                            <!-- <label for="regular-form-3" class="form-label">Email</label> -->
                            <input type="text" id="floatingInput"
                                class="intro-x login__input form-control py-3 px-4 block mt-4" placeholder="Email"
                                ng-model="form.email">
                        </div>
                        <div class="mt-3">
                            <!-- <label for="regular-form-4" class="form-label">Password</label> -->
                            <input name="pwd1" type="text" id="floatingPassword"
                                class="intro-x login__input form-control py-3 px-4 block mt-4" placeholder="Password"
                                ng-model="form.password">
                        </div>
                        <div class="mt-3">
                            <!-- <label for="regular-form-5" class="form-label">Confirm Password</label> -->
                            <input name="pwd2" type="text" id="floatingPassword"
                                class="intro-x login__input form-control py-3 px-4 block mt-4"
                                placeholder="Password Confirmation" ng-model="form.Cpassword">
                        </div>
                        <div class="mt-3">
                            <button type="submit" class="btn btn-primary py-3 px-4 w-full xl:w-32 xl:mr-3 align-top">Add
                                User</button>
                        </div>
                </form>
            </div>
        </div>
    </div>
    <!-- END: Input -->
</div>
</div>