<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    td {
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #D6EEEE;
    }
</style>

<!-- <body ng-app = "enigmaModule" ng-cloak> -->
<div class="flex overflow-hidden">
    <!-- BEGIN: Content -->
    <div class="content" ng-controller="AdduserController" ng-cloak>
        <div class="intro-y flex flex-col sm:flex-row items-center mt-8">
            <h2 class="text-lg font-medium mr-auto">
                Tabulator
            </h2>
            <div class="w-full sm:w-auto flex mt-4 sm:mt-0">
                <button class="btn btn-primary shadow-md mr-2" onclick="window.location.href = '/adduser'">Add New
                    Users</button>
                <div class="dropdown ml-auto sm:ml-0">
                    <button class="dropdown-toggle btn px-2 box" aria-expanded="false" data-tw-toggle="dropdown">
                        <span class="w-5 h-5 flex items-center justify-center"> <i class="w-4 h-4"
                                data-lucide="plus"></i> </span>
                    </button>
                    <div class="dropdown-menu w-40">
                        <ul class="dropdown-content">
                            <li>
                                <a href="" class="dropdown-item"> <i data-lucide="file-plus" class="w-4 h-4 mr-2"></i>
                                    New Category </a>
                            </li>
                            <li>
                                <a href="" class="dropdown-item"> <i data-lucide="users" class="w-4 h-4 mr-2"></i>
                                    New Group </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- BEGIN: HTML Table Data -->
        <div class="intro-y box p-5 mt-5">
            <div class="flex flex-col sm:flex-row sm:items-end xl:items-start">
                <form id="tabulator-html-filter-form" class="xl:flex sm:mr-auto">

                    <input id="tabulator-html-filter-value" type="text"
                        class="form-control sm:w-40 2xl:w-full mt-2 sm:mt-0" placeholder="Search..." ng-keyup="onSearch()" ng-model="search">
                    <div class="sm:flex items-center sm:mr-4 mt-2 xl:mt-0">
                        <select ng-model="limit" ng-change="onLimitChange()" id="tabulator-html-filter-type" class="form-select w-full mt-2 sm:mt-0 sm:w-auto">
                            <option value="10" selected>10 per page</option>
                            <option value="25"> 25 per page</option>
                            <option value="50"> 50 per page</option>
                            <option value="100"> 100 per page</option>
                            <option value="200"> 200 per page</option>
                        </select>
                    </div>
            </div>
            </form>
        </div>
        <div class="table">
            <% if(pop!=null) { %>
                <table>
                    <tr>
                        <th>Firstname</th>
                        <th>Lastname</th>
                        <th>Email</th>
                        <th>Gender</th>
                    </tr>
                    <% pop.forEach(function(item) { %>

                        <tr>
                            <td>
                                <%= item.firstname %>
                            </td>
                            <td>
                                <%= item.lastname %>
                            </td>
                            <td>
                                <%= item.email %>
                            </td>
                            <td>
                                <%= item.gender %>
                            </td>
                        </tr>
                        <% }) %>
                </table>
                <% } %>
        </div>
    </div>
    <!-- END: HTML Table Data -->
</div>
<!-- END: Content -->


<script src="javascripts/controllers/addusercontroller.js"></script>